
* {
  box-sizing: border-box;
  text-align: center;
}

body {
}

#Name {
padding: 0px;
width: 25%;
position: absolute;
left: 10%;
background-color: #6ea3da;
}

.divfixed {
  background: #666;
  width: 25%;
  height: 150px;
  position: fixed;
}

nav {
  float: right;
}

header {
  position: fixed;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #ccc;
}

section {
  margin-top: 10px;
  padding: 20px;
  background: black;
  background-color: #fff;
}

#divrelative {
  overflow: visible;
  position: relative;
  right: 0px;
  height: 200px;
  color: black;
  background-color: #eee;
}

#divabsolute {
  right: 0px;
  bottom: 0px;
  position: absolute;
  padding: 20px;
  margin-top: 20px;
  background: #6ea3da;
}

footer {
  padding: 20px;
  margin-bottom: 0px;
  margin-top: 20px;
  color: black;
  background-color: #ccc;
}
